<div class = "card">
<h1 class="banner">Coach</h1>
<br>
<p class = "reply"><%= @question %></p>
<p class = "you">You</p>
<br>
<p class = "reply"><%= @answer %></p>
<p class = "coach">Coach</p>
<br>
<br>
<button class="btn btn-outline-primary" type="submit"><%= link_to "Ask a new question", "/ask" %></button>

<div>
