<h1 class="banner">Stupid Coach</h1>
<p>---------------------------------------------------</p>
<form action="/answer" method="get">
  <input type="text" name="input">
  <button class="btn btn-outline-primary" type="submit">Ask!</button>
</form>
