.card{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card h1{
  color: #909cee;
}

.reply {
  background-color: #f5f5dc;
}

.you{
  color:#20b2aa;
}

.coach{
  color: #f08080;
}
